<%= form_for(@priner) do |f| %>
  <% if @priner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@priner.errors.count, "error") %> prohibited this priner from being saved:</h2>

      <ul>
      <% @priner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :classroom_id %><br />
    <%= f.number_field :classroom_id %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
