<h1>Listing priners</h1>

<table>
  <tr>
    <th>Classroom</th>
    <th>Department</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @priners.each do |priner| %>
  <tr>
    <td><%= priner.classroom_id %></td>
    <td><%= priner.department_id %></td>
    <td><%= priner.model %></td>
    <td><%= link_to 'Show', priner %></td>
    <td><%= link_to 'Edit', edit_priner_path(priner) %></td>
    <td><%= link_to 'Destroy', priner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Priner', new_priner_path %>
