  <tr>
    <td><%= printer.classroom.try(:number) %></td>
    <td><%= printer.department.try(:title) %></td>
    <td><%= printer.model %></td>
    <td><%= link_to 'Show', printer %></td>
    <td><%= link_to 'Edit', edit_printer_path(printer) %></td>
    <td><%= link_to 'Destroy', printer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
