<h1>Listing printers</h1>

<table>
  <tr>
    <th>Classroom</th>
    <th>Department</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @printers.each do |printer| %>
  <tr>
    <td><%= printer.classroom_id %></td>
    <td><%= printer.department.title %></td>
    <td><%= printer.model %></td>
    <td><%= link_to 'Show', printer %></td>
    <td><%= link_to 'Edit', edit_printer_path(printer) %></td>
    <td><%= link_to 'Destroy', printer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New printer', new_printer_path %>
