<%= semantic_form_for(@laptop) do |f| %>
  <% if @laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laptop.errors.count, "error") %> prohibited this laptop from being saved:</h2>

      <ul>
      <% @laptop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :department %>
  </div>
  <div class="field">
    <%= f.input :classroom %>
  </div>
  <div class="field">
    <%= f.input :person %>
  </div>
  <div class="field">
    <%= f.label :label_number %><br />
    <%= f.number_field :label_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
