  <tr>
    <td><%= laptop.department.try(:title) %></td>
    <td><%= laptop.classroom.try(:number) %></td>
    <td><%= laptop.person_id %></td>
    <td><%= laptop.label_number %></td>
    <td><%= link_to 'Show', laptop %></td>
    <td><%= link_to 'Edit', edit_laptop_path(laptop) %></td>
    <td><%= link_to 'Destroy', laptop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

